body {
    background-color: bisque;
    font-size: 16px;
    font-family: "Exo", system-ui;
    color:#6f5454;
    flex: auto;
}

.logo {
    display: flex;
    flex: auto;
    margin-left: 95px;
    margin-top: 10px;
    border-radius: 10%;
    box-shadow: 0 4px 6px rgba(34, 60, 80, .16);
}

main {
    margin: 15px 50px 70px 50px;
}

h1 {
    font-size: 35px bold;
    text-align: left;
    padding-left: 40px;
    margin-left: 5px;
}
ul {
    list-style: none;
    text-align: left;
}

.li_button {
    background-color: #e3c39c;
    color: #6f5454;
    border: 2px #de7e24 solid;
    height: 50px;
    width: 180px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;  
}

.li_button:active {
    border:#833d27 3px solid ;
    transition: 0.4s opacity, 0.5s background-color, 0.4s font-size;
    box-shadow: 0 5px #d3cab5;
    /*transform: translateY(4px);*/
}

.input-wrapper {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    min-width: 75px;
}
.error-message {
    color: #780f0f;
    font-size: 0.8em;
}

@media all and (min-width: 750px) and (min-height: 942px){
    main {
        margin-top: 70px;
        line-height: 1.5px;
        font-size: 20px;
    }

        .logo {
            display: block;
            justify-content: center;
            margin-left: 42%;
        }
        h1 {
            font-size: 40px bold;
            text-align: center;
            padding-bottom: 20px;
        }

    .li_button {
        font-size: 20px,;
        display: block;
        width: 40%;
        margin: 15px auto;
        justify-content: center;
        text-align: center;
    }
} 