body {
    background-color: bisque;
    font-size: 16px;
    font-family: "Exo", system-ui;
    color:#6f5454;
    flex: auto;
    padding-top: 140px;
}

nav {
        background: #f7e8d9;
        box-shadow: #6f5454;
}

.nav-item:nth-child(1) {
        margin-right: 8px;
       /* color: #6f5454; unfortunately isn't working*/
}

.navbar-nav {
    justify-items: right; /* is not eorking; navbar is supposed to be on the right */
}

.logo {
    border-radius: 5%; 
    box-shadow: 0 4px 6px rgba(34, 60, 80, .16);
}

main {
    margin: 15px 50px 70px 50px;
}

h1 {
    font-size: 35px bold;
    text-align: center;
}

.container {
    display: grid;
    padding-top: 15px;
}

 .modal-content {
    background-color: #f7e8d9;
    border: #6f5454 solid 3px;
}

.btn {
    color: #6f5454;
    border-color: #6f5454;
    background-color: #bea3a3a7;
}

.btn-warning {
    margin-bottom: 24px;
}

/* Was intended to change the font color of the disabled button, but isn't working -->
.disabled {
    color:#6f5454;
}*/