body {
    background-color: bisque;
    font-size: 16px;
    font-family: "Exo", system-ui;
    color:#6f5454;
    flex: auto;
    padding-top: 140px;
}

header {
    display: flex;
}
nav {
        background: #f7e8d9;
        box-shadow: #6f5454;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
}

.container-fluid {
    display: flex;
    justify-content: center;
}

.navbar-logo {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
}

.nav-item:nth-child(1) {
        margin-right: 8px;
       /* color: #6f5454; unfortunately isn't working*/
}

.navbarList {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    max-width: 390px;
}

.logo {
    border-radius: 5%; 
    box-shadow: 0 4px 6px rgba(34, 60, 80, .16);
}

main {
    margin: 15px 50px 70px 50px;
}

h1 {
    font-size: 35px bold;
    text-align: center;
}

.container {
    display: grid;
    padding-top: 15px;
}

 .modal-content {
    background-color: #f7e8d9;
    border: #6f5454 solid 3px;
}

.btn {
    color: #6f5454;
    border-color: #6f5454;
    background-color: #bea3a3a7;
}

.btn-warning {
    margin-bottom: 24px;
}